<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>email ejs template</title>
  </head>
  <body>
    <h1>Welcome! <%= email %></h1>

    <p>반갑습니다 반가워요!</p>
  </body>
</html>
